{% if square_environment == constant('\\Square\\Environment::PRODUCTION') %}
    <script src="https://web.squarecdn.com/v1/square.js"></script>
{% else %}
    <script src="https://sandbox.web.squarecdn.com/v1/square.js"></script>
{% endif %}
{% if Order.Payment.getMethodClass == 'Plugin\\Square42\\Service\\Payment\\Method\\CreditCard' %}
<script>
 $(function () {
     $(".ec-orderPayment").last().after($("#credit").detach());
     $(".ec-blockBtn--action").last().attr("id", "card-button");
 });
</script>
<script>
    async function main() {
      const payments = Square.payments('{{ square_application_id }}', '{{ square_location_id }}');
      const card = await payments.card();
      await card.attach('#card-container');

      async function eventHandler(event) {
        event.preventDefault();
        const statusContainer = document.getElementById('payment-status-container');

        try {
          const result = await card.tokenize();
          if (result.status === 'OK') {
            $("#shopping_order_square_payment_token").val(result.token);
            $("#shopping-form").submit();
          } else {
            loadingOverlay('hide');
          }
        } catch (e) {
          console.error(e);
          loadingOverlay('hide');
        }
      };

      const cardButton = document.getElementById('card-button');
      cardButton.addEventListener('click', eventHandler);
    }

    main();
  </script>
  <div id="credit" class="ec-orderPaymentCard">
      <div class="ec-rectHeading">
          <h2>クレジットカード</h2>
      </div>
      <div class="ec-input">
          <div id="payment-status-container"></div>
          <div id="card-container"></div>
          {{ form_widget(form.square_payment_token) }}
      </div>
  </div>
{% else %}
  {{ form_widget(form.square_payment_token, { type: 'hidden', 'id': 'credit' }) }}
{% endif %}
